@{
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<div class="float-left ghost" >
    <a asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-left fa-2x m-3" style="color: white;"></i></a>
</div>


<div class="modal contact-modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gracias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Muy pronto nos comunicaremos contigo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Vale</button>
            </div>
        </div>
    </div>
</div>