
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("/Views/PartialViews/HeadPartialContact.cshtml")
</head>
<body>
    <!-----------------------Electricity--------------------------------------------------->

    <canvas id='c'>Your browser does not support the HTML5 canvas tag.</canvas>

    <!--Tiene un z-index -1 en css-->
    
    <!-- --------------------Contact Form-------------------------------------------------->
    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("/Views/PartialViews/ScriptsPartialContact.cshtml")
</body>
</html>
