<footer>
    <div class="footer-distributed">
        <div class="footer-left">
            <a asp-controller="Home" asp-action="Index">
            <img src="~/images/JJ Logo.png" alt="electrocomercial jj logo" width="240" />
                </a>
            <p class="footer-links">
                <a asp-controller="Home" asp-action="Index">Inicio</a>
                ·
                <a asp-controller="Home" asp-action="About">Nosotros</a>
                ·
                <a asp-controller="Product" asp-action="Index">Productos</a>
                ·
                <a asp-controller="Service" asp-action="Index">Servicios</a>
                ·
                <a asp-controller="Contact" asp-action="Index">Contacto</a>
            </p>

        </div>
        <div class="footer-center">
            <div class="align-left">
                <i class="fas fa-fw fa-compass fa-lg footer-i-icon mr-3"></i>
                <p>
                    <span>Calle Martin Lopez 3<br />colonia Benito Juarez<br />Delicias, Chihuahua</span>
                </p>
            </div>
            <div class="align-left">
                <i class="fas fa-faw fa-phone fa-lg footer-i-icon mr-3"></i>
                <p>639 467 50 47<br />639 132 65 54<br />639 132 65 59</p>
            </div>
            <div class="align-left">
                <i class="fas fa-faw fa-info fa-lg footer-i-icon mr-3"></i>
                <p><a href="mailto:electrocomercial.jj@gmail.com">Contacto via Email</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Acerca de la empresa</span>
                Empresa orgullosamente Chihuahuense con base en la ciudad de Delicias con mas de 30 años de experiencia en construcciones electro-mecanicas.
            </p>
            @*<div class="footer-icons">
                <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="#"><i class="fab fa-github fa-lg"></i></a>
            </div>*@
        </div>

        <hr />
        <div class="footer-bottom">
            <p class="footer-company-name">Electrocomercial J &amp; J &copy; 2018</p>
            <p>&copy; 2018 - Developed and designed by <a class="footer-links" href="https://wwww.rnviz.com">Rnviz&reg;</a></p>
        </div>
    </div>
</footer>